<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/images/favicon.png" type="image/x-icon">
    <title>Uptycs Customer Survey</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            line-height: 1.6;
            color: #333;
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            font-weight: 500;
        }

        .logo-container {
            text-align: center;
            margin-bottom: 20px;
            margin-top: 53px;
        }

        .logo-image {
            max-width: 300px;
            max-height: 100px;
        }

        .thanks-note {
            text-align: center;
            font-size: 1.5em;
            color: #333;
        }
    </style>
</head>

<body>
    <div class="logo-container">
        <img class="logo-image" src="/public/images/uptycs_logo.png" alt="Uptycs Logo">
    </div>
    <div class="thanks-note">Thank you for responding to the survey 🙏</div>
</body>

</html>